In [3]:
import numpy as np
import pandas as pd

In [4]:
train_data=pd.read_csv('fraudTrain.csv',index_col=0)
test_data=pd.read_csv('fraudTest.csv',index_col=0)

In [5]:
train_data

        trans_date_trans_time               cc_num  ...  merch_long is_fraud
0         2019-01-01 00:00:18     2703186189652095  ...  -82.048315        0
1         2019-01-01 00:00:44         630423337322  ... -118.186462        0
2         2019-01-01 00:00:51       38859492057661  ... -112.154481        0
3         2019-01-01 00:01:16     3534093764340240  ... -112.561071        0
4         2019-01-01 00:03:06      375534208663984  ...  -78.632459        0
...                       ...                  ...  ...         ...      ...
1296670   2020-06-21 12:12:08       30263540414123  ... -111.690765        0
1296671   2020-06-21 12:12:19     6011149206456997  ...  -78.246528        0
1296672   2020-06-21 12:12:32     3514865930894695  ... -105.130529        0
1296673   2020-06-21 12:13:36     2720012583106919  ... -103.241160        0
1296674   2020-06-21 12:13:37  4292902571056973207  ... -114.186110        0

[1296675 rows x 22 columns]

In [6]:
data=pd.concat([train_data,test_data],axis=0)

In [7]:
data.shape

(1852394, 22)

In [8]:
data

       trans_date_trans_time            cc_num  ...  merch_long is_fraud
0        2019-01-01 00:00:18  2703186189652095  ...  -82.048315        0
1        2019-01-01 00:00:44      630423337322  ... -118.186462        0
2        2019-01-01 00:00:51    38859492057661  ... -112.154481        0
3        2019-01-01 00:01:16  3534093764340240  ... -112.561071        0
4        2019-01-01 00:03:06   375534208663984  ...  -78.632459        0
...                      ...               ...  ...         ...      ...
555714   2020-12-31 23:59:07    30560609640617  ...  -91.333331        0
555715   2020-12-31 23:59:09  3556613125071656  ...  -96.186633        0
555716   2020-12-31 23:59:15  6011724471098086  ... -119.715054        0
555717   2020-12-31 23:59:24     4079773899158  ... -117.080888        0
555718   2020-12-31 23:59:34  4170689372027579  ...  -97.036372        0

[1852394 rows x 22 columns]

In [9]:
data[data.duplicated()]

Empty DataFrame
Columns: [trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1852394 entries, 0 to 555718
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  object
 1   cc_num                 int64
 2   merchant               object
 3   category               object
 4   amt                    float64
 5   first                  object
 6   last                   object
 7   gender                 object
 8   street                 object
 9   city                   object
 10  state                  object
 11  zip                    int64
 12  lat                    float64
 13  long                   float64
 14  city_pop               int64
 15  job                    object
 16  dob                    object
 17  trans_num              object
 18  unix_time              int64
 19  merch_lat              float64
 20  merch_long             float64
 21  is_fraud               int64
dtypes: float64(5), int64(5), object(12)
memory usage: 325.1+ MB

In [11]:
data.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [12]:
data['trans_date_trans_time']=pd.to_datetime(data['trans_date_trans_time'])
data['day']=data['trans_date_trans_time'].dt.day
data['hour']=data['trans_date_trans_time'].dt.hour
data['month']=data['trans_date_trans_time'].dt.month

In [13]:
data.drop(columns=['trans_date_trans_time','first','last','job','street','city','state','zip','dob','zip','city_pop','trans_num','unix_time'],inplace=True)

In [14]:
from sklearn.preprocessing import LabelEncoder
cat_column=['category','merchant','gender']
encoders={}
for col in cat_column:
    le=LabelEncoder()
    data[col]=le.fit_transform(data[col])
    encoders[col]=le

In [15]:
data

                  cc_num  merchant  category  ...  day  hour  month
0       2703186189652095       514         8  ...    1     0      1
1           630423337322       241         4  ...    1     0      1
2         38859492057661       390         0  ...    1     0      1
3       3534093764340240       360         2  ...    1     0      1
4        375534208663984       297         9  ...    1     0      1
...                  ...       ...       ...  ...  ...   ...    ...
555714    30560609640617       507         5  ...   31    23     12
555715  3556613125071656       264         7  ...   31    23     12
555716  6011724471098086       496         7  ...   31    23     12
555717     4079773899158        75        13  ...   31    23     12
555718  4170689372027579       125         0  ...   31    23     12

[1852394 rows x 13 columns]

In [16]:
from geopy.distance import geodesic
def hav(lat1,long1,merch_lat2,merch_long2):
    return np.array([geodesic((a,b),(c,d)).km for  a,b,c,d in zip(lat1,long1,merch_lat2,merch_long2)])
data['distance']=hav(data['lat'],data['long'],data['merch_lat'],data['merch_long'])

In [17]:
data.head(50)

                 cc_num  merchant  category  ...  hour  month    distance
0      2703186189652095       514         8  ...     0      1   78.773821
1          630423337322       241         4  ...     0      1   30.216618
2        38859492057661       390         0  ...     0      1  108.102912
3      3534093764340240       360         2  ...     0      1   95.685115
4       375534208663984       297         9  ...     0      1   77.702395
5      4767265376804500       607         2  ...     0      1   86.097358
6        30074693890476       534         3  ...     0      1  118.094855
7      6011360759745864       107         2  ...     0      1   12.754714
8      4922710831011201       250         9  ...     0      1   25.333883
9      2720830304681674       563         4  ...     0      1   73.939714
10        4642894980163       543         4  ...     0      1   97.821010
11      377234009633447       304        11  ...     0      1  106.446971
12      180042946491150       394         4  ...     0      1   44.606380
13     5559857416065248       308         4  ...     0      1   25.120545
14     3514865930894695        42        12  ...     0      1   66.155859
15     6011999606625827       557        11  ...     0      1   97.847518
16     6011860238257910       379         8  ...     0      1   87.549779
17     3565423334076143       409        12  ...     0      1   88.161491
18     2348245054386329       331         1  ...     0      1   90.916639
19  4956828990005111019       570         4  ...     0      1   84.714605
20  4469777115158234880        29         4  ...     0      1   51.100920
21     2305336922781618       231         2  ...     0      1   82.892065
22      180048185037117       324         3  ...     0      1   67.768167
23         630441765090       467        12  ...     0      1   49.777084
24  4428780983793657331       387        12  ...     0      1   79.719522
25      343464013864032       351         8  ...     0      1  117.212705
26      374930071163758       130         4  ...     0      1   22.322745
27     4334230547694630        82         9  ...     0      1   88.802805
28  4225990116481262579       352         4  ...     0      1   82.244106
29     4260059589824237       454        12  ...     0      1   64.353808
30      180094608895855       311        11  ...     0      1   78.724012
31  4599735407877245080       241         4  ...     0      1   32.674436
32         630412733309       627        12  ...     0      1   40.513923
33     2712209726293386        21         9  ...     0      1   79.398244
34      374125201044065        17        12  ...     0      1   51.984640
35      349612764943496       268         4  ...     0      1   42.881108
36     3598215285024754       239         4  ...     0      1   58.972157
37      213141712584544       225         9  ...     0      1   61.793675
38       30561214688470       229         2  ...     0      1   28.594673
39     4789911625179723       442         4  ...     0      1   90.652383
40         676372984911        92         2  ...     0      1   82.856315
41       30011465039817       265         9  ...     0      1   54.310037
42     4642255475285942       381         2  ...     0      1   92.538075
43       30074693890476       394         4  ...     0      1   98.811648
44      180067784565096       329         4  ...     0      1   78.007358
45      213126662687660       146         4  ...     0      1   32.474708
46     2266735643685262       548         2  ...     0      1   86.626855
47     3553629419254918       602         4  ...     0      1   47.032706
48     3511058278399773       443        11  ...     0      1   74.878150
49  4110266553600176127        86         4  ...     0      1   29.193265

[50 rows x 14 columns]

In [18]:
data['is_fraud'].value_counts()

is_fraud
0    1842743
1       9651
Name: count, dtype: int64

In [19]:
X=data.drop(columns=['is_fraud'])
y=data[['is_fraud']]

In [20]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=42)
X_resample,y_resample=smote.fit_resample(X,y)

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_resample,y_resample,test_size=0.2)

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_depth=2)
model=rf.fit(X_train,y_train)

c:\Users\vinot\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [23]:
y_pred=model.predict(X_test)
from sklearn.metrics import accuracy_score
print(f'{accuracy_score(y_test,y_pred)*100:.2f}%')

86.08%

In [ ]:
import joblib
joblib.dump(model, 'model.pkl')
joblib.dump(encoders['category'], 'label_encoder_category.pkl')
joblib.dump(encoders['merchant'], 'label_encoder_merchant.pkl')
joblib.dump(encoders['gender'], 'label_encoder_gender.pkl')

['label_encoder_gender.pkl']